body{
    margin-left: 10%;
    margin-right: 10%;

}

table{
    border: black 1px solid;  
    background-color: lightyellow; 
    
}

 th {
    border: black 1px solid;
    inline-size: 5cm;   
}

img.logo{
    width: 100px;
    height: 75px;
    float: left;    
}

h1.titulo{
        margin-left: 5%;
    
    }

span#azul{
   color: blue;
}
   p.blue{
    background-color: lightblue;
}

iframe{
    float: right;
    margin-right: 20%;
}
p.log{
    text-align: right;
}